html, body{
   height: 100%;
   font-family: 'Cutive Mono', monospace;
}
body{
   display: flex;
   flex-direction: column;
}
header{
   h1{
      padding: 20px;
      margin-bottom: 50px;
      background-color: #979aaa;
      text-align: center;
   }
}

#main_cnt{
   padding: 20px;
   background-color: #979aaa;
   border-radius: 5px;
   width: 1655px;
   display: flex;
   margin: 0 auto;
}
